
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <h2>CheckOut Successfull</h2>
    <h4>Your orders had been sent to the Shop. You will receive your package in 2-3 days. Thank you for trusting our Shop.</h4>
    <a href="@Url.Action("Index", "Products")" class="btn btn-danger">Continuos shopping</a>
</body>
</html>
