@{
    ViewBag.Title = "#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BÁN GIÀY THỂ THAO SNEAKER CHÍNH HÃNG TẠI TPHCM - TTQ GIỚI THIỆU</h1>
<img src="~/Content/iamges/thiet-ke-thi-cong-shop-giay (10).jpg"/>

<p>Nỗi sợ vì mua phải giày kém chất lượng, giày fake, từ nay không còn lo lắng nữa vì đã có #TTQ.VN: hàng chính hãng nhập trực tiếp từ US, fullbox, nguyên tem.</p>
<img src="~/Content/iamges/thiet-ke-thi-cong-shop-giay (2).jpg" />

<p> TTQ.VN ✓15 Ngày Đổi Hàng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng ✓Bảo Hành Hàng Chính Hãng.!!!</p>

<h2>Ưu điểm của TTQ</h2>

<ul>
    <li>Hàng nhập trực tiếp từ Mỹ, Châu Âu nên chất lượng đảm bảo, mới 100%</li>
    <li>Giá cả hợp lý, cạnh tranh</li>
    <li>Chính sách bảo hành uy tín, đổi trả linh hoạt</li>
    <li>Thái độ phục vụ chuyên nghiệp, nhiệt tình</li>
</ul>

<p>Đến với "TTQ.VN” quý khách hàng sẽ có những sản phẩm ưng ý nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những “Chương Trình Khuyến Mãi Đặc Biệt”.</p>

<p>Tìm được cửa hàng giày khiến mình an tâm rất khó luôn đó mọi người ơi. Hổng nói nổi vui như nào khi gặp được TTQ luôn á, Sản phẩm chất lượng mà các dịch vụ đi kèm hấp dẫn nữa. Dân mê giày làm sao cưỡng lại KINGSHOES đây!</p>

<h2>THÔNG TIN CHI TIẾT VỀ TTQ </h2>

<h3>Địa chỉ cửa hàng</h3>
<p>192/2 Nguyễn Thái Bình, Phường 12, Quận Tân Bình, Thành phố Hồ Chí Minh</p>

<h3>Sản phẩm</h3>
<p>Cửa hàng chuyên cung cấp các mẫu giày sneaker thể thao chính hãng của các thương hiệu nổi tiếng: Nike, Adidas, New Balance, Puma, Vans...</p>

<h3>Không gian cửa hàng</h3>
<img src="~/Content/iamges/king-shoes-dia-chi-cua-hang-giay-chinh-hang-hcm-real-authentic-1 (1).jpg"/>
<p>Cửa hàng rộng rãi, thoải mái đậu xe. Có không gian lounge để khách ngồi thử giày.</p>
<img src="~/Content/iamges/giay-sneaker-chinh-hang-HCM-shop-King-Shoes-authentic-tan-binh.jpg" />

<h3>Chất lượng sản phẩm</h3>
<p>Tất cả sản phẩm đều là hàng chính hãng, nhập khẩu chính ngạch từ Mỹ và châu Âu.</p>

<h3>Chính sách bán hàng</h3>
<ul>
    <li>Giao hàng toàn quốc, thanh toán COD</li>
    <li>Đổi trả sản phẩm trong vòng 15 ngày</li>
    <li>Bảo hành trọn đời</li>
</ul>

<p>Với phương châm "You're King in your way", TTQ cam kết mang đến cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất. Hãy đến với TTQ để cảm nhận dịch vụ hoàn hảo cùng những sản phẩm chất lượng cao.</p>
<img src="~/Content/iamges/cua-hang-giay-sneaker-chinh-hang-tai-hcm-king-shoes-khach-hang-check-in-192-nguyen-thai-binh-p12-tan-binh-15.jpg"/>
<p>Mọi thắc mắc xin vui lòng liên hệ:</p>

<p>
    Address:192/2 Nguyễn Thái Bình, Phường 12, Quận Tân Bình, Thành phố Hồ Chí Minh
    hotline:0909.300.746-0900.45.0001<br>
    Email: cskh@kingshoes.vn
</p>