
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/MyCSS/Nav.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/image/icon/shoes.png" type="image/x-icon" />
    <title>Cửa hàng bán giày TTQ</title>
    </head>
<body>
    <div id="main">
        <div id="header">
            <div class="logo-nav">Logo</div>
            <!-- begin: nav -->
            <ul id="nav">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#band">Nike</a></li>
                <li><a href="#tour">Adidas</a></li>
                <li><a href="#contact">Jordan</a></li>
            </ul>
            <!-- end: nav -->
            <!-- begin: cart button -->
            <div class="cart-btn">
                <div class="cart-icon">
                    <img src="~/Content/image/icon/shopping-cart.png" />
                </div>
            </div>
            <!-- end: cart button -->
            <!-- begin: search button -->
            <div class="search-btn">
                <div class="search-icon">
                    <img src="~/Content/image/icon/search-interface-symbol_54481.png" />
                </div>
            </div>
            <!-- end: search button -->

        </div>
    </div>
</body>
</html>
