
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/MyCSS/Nav.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    </head>
<body>
    <div id="main">
        <div id="header">
            <div class="logo-nav">Logo</div>
            <!-- begin: nav -->
            <ul id="nav">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#band">Nike</a></li>
                <li><a href="#tour">Adidas</a></li>
                <li><a href="#contact">Jordan</a></li>
            </ul>
            <!-- end: nav -->
            <!-- begin: search button -->
            <div class="search-btn">
                <i class="search-icon ti-search"></i>
            </div>
            <!-- end: search button -->

        </div>
    </div>
</body>
</html>
